.navbar-brand {
    color: red;
}

.logo-img {
    height: 1.7rem;
    margin-right : 0.8rem;
}

.main-body {
    margin-top: 5rem;
}

.text-bg-danger {
    max-width: 18rem;
    margin:auto;
}

.comment-card {
    padding-left: 0;
    margin-left: 0;
}

.articles-list {
    list-style: none;
    padding-left: 0;

}

.comment-list {
    list-style: none;
    padding-left: 0;

}