.navbar-brand {
    color: red;
}

.logo-img {
    height: 1.7rem;
    margin-right : 0.8rem;
}

.main-body {
    margin-top: 5rem;
}

.text-bg-danger {
    max-width: 18rem;
    margin:auto;
}

.comment-card {
    padding-left: 0;
    margin-left: 0;
}

.articles-list {
    list-style: none;
    padding-left: 0;

}

.single-article {
    margin-bottom: 1rem;
}

.comment-list {
    list-style: none;
    padding-left: 0;

}

.like {
    border: blue;
    border-radius: 8px 0px 0px 8px;
    border: none;
}
.dislike {
    border-radius: 0px 8px 8px 0px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin: 0;

}

.likes-container {
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    margin-left: auto;
    border: 0.1rem solid #0275d8;
    margin: 0;
    padding: 0;

}

.single-article-ul {
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
}

.comment-box {
    margin-top: 1rem;
}
.comment-text {
    margin-bottom: 1rem;
}

.invalid-feedback {
    margin-bottom: 1rem;
}